{% extends "layout.html" %}

{% block content %}
    <form
        class="grid"
        hx-post="/create/queue"
        hx-target="#queue"
        hx-swap="outerHTML"
    >
        <input type="hidden" name="channel" value="{{ channel }}" />
        <label>
            Numero de equipos
            <input
                type="number"
                name="queue_size"
                min="0"
                max="50"
                value="{{ queue.size }}"
            />
        </label>
        <label>
            Tamaño del equipo
            <input
                type="number"
                name="team_size"
                min="1"
                max="10"
                value="{{ queue.team_size }}"
            />
        </label>
        <input type="submit" value="Cambiar tamaño" />
    </form>
    <div class="grid">
        <button hx-post="/channel/{{ channel }}/queue" hx-swap="none">
            Agregar equipo
        </button>
        <button
            hx-delete="/channel/{{ channel }}/queue"
            hx-target="#res"
            hx-target-error="#error_dialog"
            hx-swap="outerHTML"
        >
            Borrar equipo
        </button>
    </div>
    <div id="res" style="display: none"></div>
    <br />
    <div sse-connect="/channel/{{ channel }}/sse" sse-swap="message">
        {% include "queue.html" %}
    </div>
    {% include "error.html" %}
    {% include "confirmation.html" %}
{% endblock %}
